[project]
name = "felupe"
version = "1.0.0"
description = "Finite Element Analysis"
readme = "README.md"
requires-python = ">=3.6"
license = {file = "LICENSE"}
keywords = [
  "python", 
  "constitution",
  "scientific-computing",
  "fem",
  "finite-elements-analysis",
  "hyperelasticity", 
]

authors = [
  {email = "a.dutzler@gmail.com"},
  {name = "Andreas Dutzler"}
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Scientific/Engineering",
  "Topic :: Scientific/Engineering :: Mathematics",
  "Topic :: Utilities"
]

dependencies = [
  "numpy",
  "scipy",
  "quadpy",
  "h5py",
  "meshio",
]

[project.optional-dependencies]
all = [
    "matplotlib",
    "numba",
    "sparse",
]

[project.urls]
homepage = "https://adtzlr.github.io/felupe"
code = "https://github.com/adtzlr/felupe"
issues = "https://github.com/adtzlr/felupe/issues"

[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"