name: Codecov

on:
  push:
    branches:
    - main
    paths-ignore:
    - '**/*.md'
    - '**/*.rst'
  pull_request:
    branches:
    - main
    paths-ignore:
    - '**/*.md'
    - '**/*.rst'

jobs:
  run:
    name: Upload coverage report to codecov.io
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.14"]
    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/checkout@v4
    - name: Test with tox
      run: |
        pip install tox
        tox -- --cov felupe --cov-report xml --cov-report term
    - name: Upload coverage to Codecov
      if: ${{ matrix.python-version == '3.14' }}
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
